language: rust
osx_image: xcode9.2

rust:
  - 1.29.2
  - nightly

os:
  - linux
  - osx
  - windows

matrix:
  allow_failures:
    - rust: nightly
    - os: windows

# on windows, rustup installs the msvc toolchain by default so we need link.exe
before_script:
  - if [ "$TRAVIS_OS_NAME" = 'windows' ]; then choco install windows-sdk-10.0; fi
  - rustup component add rustfmt-preview

# windows builds run in git bash so these (should) Just Work
cache:
  directories:
    - $HOME/.cargo

script:
  - cd rust
  - export CARGO_TARGET_DIR=/tmp/target
  - export RUST_BACKTRACE=1
  - RUSTFLAGS="-D warnings" cargo check --all || exit
  - cargo test --all || exit
  - if [ "$TRAVIS_RUST_VERSION" = '1.29.2' ]; then cargo fmt --all -- --check; fi
