// Colors
$color-primary-dark: #34515e;
$color-primary: #607d8b;
$color-primary-contrast: white;

$color-accent: #24d06a;
$color-accent-contrast: #009d3d;

$tac-grey: #e0e0e0;
$tac-code-background: #f7f7f7;

// Dimensions
$side-nav-width: 240px;
$layout-large-screen: 840px;
