// Colors
$color-primary-dark: #436176;
$color-primary: #708EA5;
$color-primary-contrast: white;

$color-accent: #ffc65b;
$color-accent-contrast: #003633;

$tac-grey: #e0e0e0;
$tac-code-background: #f7f7f7;

// Dimensions
$side-nav-width: 240px;
$layout-large-screen: 840px;
